@import './function/index';
@import './var/index';
@import './mixins/index';
@import './base/index';

body {
    background-color: white;
}


.main-wrapper {
  display: block;
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;

  @media (max-width: 991px) {
    padding: 0 16px;
  }
}


.logo {
    display: block;

    &.logo-with-beaver {
        width: 167.45px;
        height: 44.77px;
    }
    &__img {
        margin-left: -10px;
        object-fit: contain;
        object-position: top;
    }

}

.h-100vh {
    min-height: 100vh;

    @media (max-width: 1024px) {
        min-height: calc(100vh - 100px)
    }
}

.btn {
    @include btn($outline: false);
}

.btn-outline {
    @include btn($outline: true);

}
.table{
    margin: 0;

    &--bottom-gap {
        margin-bottom: 32px;
    }
}

.link-btn {
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    @include text-config($font-weight: 700, $fs: 14px, $lh: 150%);
    &:hover {
        color: $primary-blue-hover;
    }

    &--underline{
        border-bottom: 1px solid $primary-black;

        &:hover {
            color: $primary-blue-hover;
        border-bottom: 1px solid $primary-blue-hover;

        }

    }

    &--blue {
        color: rgba(49, 106, 255, 1);
    }
}


.close-btn {
    appearance: none;
    background-color: transparent;
    cursor: pointer;

    position: absolute;
    right: 0;
    top: 10px;
}
@import './components/index';



.breadcrumbs__section {}

.breadcrumbs__wrapper {}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 40px 0;
}

a.breadcrumbs__item {
  display: flex;
  margin-right: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #616E7B;
  transition: all .3s ease;
  position: relative;
  text-decoration: none;
}

a.breadcrumbs__item:hover {
  color: #171717;
}

a.breadcrumbs__item::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../img/svg/breaddcrumbs-arrow.svg);
  background-size: contain;
  position: absolute;
  top: 50%;
  right: -31px;
  transform: translateY(-50%);

}

span.breadcrumbs__item {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #171717;
}

.rotate-btn {
  transform: rotate(180deg);
}