{% extends 'base.html' %}

{% block content %}

  <section class="breadcrumbs__section">
    <div class="breadcrumbs__wrapper main-wrapper">
      <div class="breadcrumbs">
        <a href="/homepage" class="breadcrumbs__item">Home</a>
        <a href="/blog" class="breadcrumbs__item">News</a>
        <span class="breadcrumbs__item">Article</span>
      </div>
    </div>
  </section>

  <section class="article-title__section">
    <div class="article-title__wrapper main-wrapper">
      <div class="article-title">
        <div class="article-title__date">
          <span>Mar 17, 2020</span>
        </div>
        <h1 class="article-title__title">
          Introduces Industry-Leading Progressive SOS
        </h1>
      </div>
    </div>
  </section>

  <section class="article-img__section">
    <div class="article-img__wrap">
      <img src="{% static 'core/img/jpg/article-img.jpg' %}" alt="article img" class="article-img">
    </div>
  </section>

  <section class="article-content__section">
    <div class="articel-content__wrap main-wrapper">
      <div class="article-content">
        <p>
          Space Beaver Inc., an award-winning global messaging solutions company, today announced the availability of Location Share+. The new subscription-based offering provides enhanced journey sharing and breadcrumb tracking capabilities for users of the  satellite communicator and mobile app.
        </p>
        <p>
          Ideal for anyone who ventures beyond mobile coverage for work or recreation, the compact  device connects via Bluetooth to a free app on the user's Android or Apple smartphone/tablet to provide a seamless global messaging experience. Messages are transmitted via Iridium Short Burst Data (SBD), cellular and Wi-Fi, and are automatically routed over the lowest cost network.
        </p>
        <h4 class="article-content__quote">
          Ideal for anyone who ventures beyond mobile coverage for work or recreation, the compact <span class="text-pink">Space Beaver device</span> connects via Bluetooth to a free app on the user's Android or Apple smartphone to provide a <span class="text-pink">seamless global</span> messaging experience. 
        </h4>

        <div class="article-content__img-box">
          <h3 class="article-content-img__title">1,000 users around the world</h3>
          <div class="article-content-img__img-wrap">
            <img class="article-content-img__img" src="{% static 'core/img/jpg/article-box-img.png' %}" alt="">
          </div>
        </div>

        <h2>About Space Beaver</h2>
        <p>
          Formed in 2018 and headquartered in Toronto, Canada, ZOLEO Inc. is a joint venture between Beam Communication Pty. Ltd. and Roadpost Inc. that is pioneering the development of innovative lower cost, consumer-oriented global messaging solutions including wireless devices and apps based on Iridium short burst data (SBD), cellular and Wi-Fi standards. 
        </p>
        <p>
          The company serves three primary markets including consumers residing on the fringe of cellular coverage, outdoor recreation users and field workers requiring lone worker safety and remote messaging. Its products are offered through authorized retailers and e-tailers in the US, Canada and Australia, including national retailers like Cabela's, Bass Pro, REI, MEC and Anaconda. Roadpost is responsible for retail distribution in North America and Beam is responsible for the Asia Pacific region. Staged distribution in other regions will be jointly managed. 
        </p>
      </div>
    </div>
  </section>

  <section class="home__section home__section--blog">
    <div class="blog">
      <div class="blog__wrapper main-wrapper">
        <h2 class="blog__title page-h2 text-center">Continue reading</h2>
        <div class="blog__content">
          <div class="blog__list">
            <a href="/article" class="blog__item blog-item">
              <span class="blog-item__img-wrap">
                <img src="{% static 'core/img/jpg/blog-item-1.png' %}" alt="" class="blog-item__img">
              </span>
              <span class="blog-item__date"> Mar 17, 2020</span>
              <span class="blog-item__text">Introduces Industry-Leading Progressive SOS</span>
            </a>
            <a href="/article" class="blog__item blog-item">
              <span class="blog-item__img-wrap">
                <img src="{% static 'core/img/jpg/blog-item-2.png' %}" alt="" class="blog-item__img">
              </span>
              <span class="blog-item__date"> Mar 17, 2020</span>
              <span class="blog-item__text">Named Product of the Year at the Third Annual Outdoor</span>
            </a>
            <a href="/article" class="blog__item blog-item">
              <span class="blog-item__img-wrap">
                <img src="{% static 'core/img/jpg/blog-item-3.png' %}" alt="" class="blog-item__img">
              </span>
              <span class="blog-item__date"> Mar 17, 2020</span>
              <span class="blog-item__text">Wins 2020 ABA100 Award for New Product Innovation</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
