{% extends 'dashboard-layout.html' %}

{% block extra_head %}

  <link rel="stylesheet" href="{% static 'core/credit-card.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'core/loader.css' %}">

  <script src="{% static 'core/js/loader.js' %}"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <style>

    .custom-btn {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .custom-cnt, .custom-card {
      padding-right: 0px !important;
      padding-left: 0px !important;
    }

  </style>
  <script>
  </script>
{% endblock %}
{% block content %}

  <div class="tab-layout">
    <ul class="nav nav-pills tabs-list" id="pills-tab" role="tablist">
      <li class="nav-item tab-item" role="presentation">
        <a class="nav-link tab-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" type="button"
           role="tab" aria-controls="pills-home" aria-selected="true">Current plan</a>
      </li>
      <li class="nav-item tab-item" role="presentation">
        <a class="nav-link tab-link " id="pills-profile-tab" data-toggle="pill" href="#pills-profile" type="button"
           role="tab" aria-controls="pills-profile" aria-selected="false">Payment method</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
           tabindex="0">
        <section class="tab-section">
          <h2 class="tab-section__title">Plan details</h2>
          <div class="plan-card plan-card-simple d-block d-lg-flex align-items-center">
            {% if plan %}
              <div class="d-flex align-items-center">
                <div class="plan-card__img-wrap gap-right">
                  <img class="plan-card__img" src="{% static 'core/img/svg/icon-mirroring-screen.svg' %}" alt="">
                </div>
                <div class="plan-card-simple__description-wrap ">
                  <div class="plan-card-simple__title-wrap d-flex align-items-baseline">
                    <span class="plan-card-simple__title">{{ plan.product_name }}</span>
                    <span class="plan-card-simple__status plan-card-simple__status--active">Activated</span>
                    <span class="plan-card-simple__status plan-card-simple__status--cancel">Canceled</span>
                    <span
                      class="plan-card-simple__status plan-card-simple__status--deactivated">Deactivated</span>
                  </div>
                  <p class="plan-card-simple__duration">
                    Start date -
                    <span>
                                    Jul 29 2022</span>
                    for
                    <span>{{ plan.amount }}
                                    {{ plan.currency }}/{{ plan.interval_count }}
                      {{ plan.interval }}</span>
                    until
                    <span>Aug 29 2022</span>
                  </p>
                </div>
              </div>

            {% else %}
              <p class="plan-card-simple__duration">You have not plan now</p>
            {% endif %}
            {% if plan %}
              <button style="margin-left: 30px;" class="btn-outline plan-card-simple__btn" type="button"
                      onclick="cancelSubscriptionConfirmation(true)">Cancel plan
              </button>
            {% else %}
              <a href="{% url 'core:pick-plan' %}" class="btn-outline plan-card-simple__btn ms-lg-3" type="button">Update
                plan</a>

            {% endif %}
          </div>
        </section>
        <section class="tab-section">
          <h2 class="tab-section__title">Invoices</h2>
          <table class="table">
            <thead>
            <tr>
              <th class="col-title" scope="col">Type of payment</th>
              <th class="col-title" scope="col">Amount</th>
              <th class="col-title" scope="col">Status</th>
              <th class="col-title" scope="col">Payment method</th>
              <th class="col-title text-end" scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            {% for invoice in page %}
              <tr>
                <td class="align-middle">
                  <div class="payment-card d-flex align-items-center">
                    <div class="payment-card__img d-flex align-items-center justify-content-center">
                      <svg class="payment-card__icon" width="24" height="24" viewbox="0 0 24 24"
                           fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 8.5H14.5" stroke="#222223" stroke-width="1.8"
                              stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6 16.5H8" stroke="#222223" stroke-width="1.8"
                              stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10.5 16.5H14.5" stroke="#222223" stroke-width="1.8"
                              stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path
                          d="M22 14.03V16.11C22 19.62 21.11 20.5 17.56 20.5H6.44C2.89 20.5 2 19.62 2 16.11V7.89C2 4.38 2.89 3.5 6.44 3.5H14.5"
                          stroke="#222223" stroke-width="1.8" stroke-linecap="round"
                          stroke-linejoin="round"/>
                        <path d="M20 9.5V3.5L22 5.5" stroke="#222223" stroke-width="1.8"
                              stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M20 3.5L18 5.5" stroke="#222223" stroke-width="1.8"
                              stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>

                    </div>
                    <div class="payment-card__transaction-wrap">
                      <p class="payment-card__transaction-name">Basic plan</p>
                      <p class="payment-card__transaction-date">{{ invoice.created }}</p>
                    </div>

                  </div>
                </td>
                <td class="align-middle">
                  <p class="transaction-amount">$200</p>
                </td>
                <td class="align-middle">
                  <div class="transaction-tag transaction-tag--paid">
                    {{ invoice.status }}
                  </div>
                </td>
                <td class="align-middle">
                  <p class="transaction-pay-method">Stripe</p>

                </td>
                <td class="align-middle">
                  <p class="transaction-description text-end">Plan update</p>
                </td>
              </tr>
            {% endfor %}
            <tr>
              <td class="align-middle">
                <div class="payment-card d-flex align-items-center">
                  <div class="payment-card__img d-flex align-items-center justify-content-center">
                    <svg class="payment-card__icon" width="24" height="24" viewbox="0 0 24 24"
                         fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2 8.5H14.5" stroke="#222223" stroke-width="1.8"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M6 16.5H8" stroke="#222223" stroke-width="1.8"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10.5 16.5H14.5" stroke="#222223" stroke-width="1.8"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                      <path
                        d="M22 14.03V16.11C22 19.62 21.11 20.5 17.56 20.5H6.44C2.89 20.5 2 19.62 2 16.11V7.89C2 4.38 2.89 3.5 6.44 3.5H14.5"
                        stroke="#222223" stroke-width="1.8" stroke-linecap="round"
                        stroke-linejoin="round"/>
                      <path d="M20 9.5V3.5L22 5.5" stroke="#222223" stroke-width="1.8"
                            stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M20 3.5L18 5.5" stroke="#222223" stroke-width="1.8"
                            stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                  </div>
                  <div class="payment-card__transaction-wrap">
                    <p class="payment-card__transaction-name">Basic plan</p>
                    <p class="payment-card__transaction-date">Jul 29 2022</p>
                  </div>

                </div>
              </td>
              <td class="align-middle">
                <p class="transaction-amount">$200</p>
              </td>
              <td class="align-middle">
                <div class="transaction-tag transaction-tag--paid">
                  Paid
                </div>
              </td>
              <td class="align-middle">
                <p class="transaction-pay-method">Stripe</p>

              </td>
              <td class="align-middle">
                <p class="transaction-description text-end">Plan update</p>
              </td>
            </tr>
            </tbody>
          </table>
        </section>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
        <section class="tab-section">
          <h2 class="tab-section__title">Type of payment</h2>

          <form class="form-body form" id="update-payment" method="post">
            {% csrf_token %}
            <fieldset class="form-body__grid-layout">
              <div class="field">
                <label class="field__label" for="card-number-element">Card number</label>
                <div id="card-number-element" class="field__input" style="padding: 16px 16px"></div>
                <span class="field__input-error field__input--shown"></span>
              </div>
              <div class="field">
                <label class="field__label" for="card-expiry-element">Expiration month and year</label>
                <div id="card-expiry-element" class="field__input" style="padding: 16px 16px"></div>
                <span class="field__input-error field__input--shown"></span>
              </div>
              <div class="field">
                <label class="field__label" for="card-cvc-element">CVV</label>
                <div id="card-cvc-element" class="field__input" style="padding: 16px 16px"></div>
                <span class="field__input-error"></span>
              </div>
              <div id="card-cardholder-element" class="field">
                <label class="field__label" for="cardName">Cardholder name</label>
                <div class="field__input"><input type="text" id="cardName" class="border-0 bg-transparent "
                                                 autocomplete="off" placeholder="{{ card.name }}"></div>
                <span class="field__input-error"></span>
              </div>
            </fieldset>
            <button type="submit" class="fw-bold text-dark border-0 text-decoration-underline">Update card</button>
          </form>


        </section>
      </div>
    </div>
  </div>

  <!-- OLD -->

  <div class="container custom-cnt">

  </div>
  <!-- UPDATE PAYMENT METHOD MODAL -->
  <div class="modal fade" id="update-payment-method-modal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal__content">
        <div class="modal-body p-0">
          <header class="form-header text-center">
            <img class="form-header-icon" src="{% static 'core/img/svg/icon-aprove.svg' %}" alt="">
            <h1 class="title title--sm">Successfully updated</h1>
            <p class="subtitle">Your card changed</p>

          </header>
        </div>
        <div class="modal-footer modal__footer p-0 border-0">
          <button data-dismiss="modal" class="btn modal__footer-btn">OK</button>
          <!-- data-bs-dismiss="modal" -->
        </div>
      </div>
    </div>
  </div>

  <!-- DELETE PAYMENT METHOD CONFIRMATION MODAL -->
  <div class="modal fade" id="delete-payment-method" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <header class="form-header text-center">
            <img class="form-header-icon" src="{% static 'core/img/svg/icon-warning.svg' %}" alt="">

            <h1 class="title title--sm">Are you sure what you want delete payment method?</h1>
          </header>
          <form action="#" id="delete-number-form" method="post" class="form">
            {% csrf_token %}
            <button type="button" id="delete-payment-method-button" class="btn form-submit"
                    style="width: 80%; margin-left: 10%; margin-right: 10%;">Delete
            </button>
            <button type="button" class="btn-outline form-submit" data-dismiss="modal"
                    style="width: 80%; margin-left: 10%; margin-right: 10%; margin-bottom: 25px">Close
            </button>

          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="cancel-subscription" tabindex="-1" aria-labelledby="cancelPlanLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal__content">
        <div class="modal-body p-0">
          <header class="form-header text-center">
            <img class="form-header-icon" src="{% static 'core/img/svg/icon-aprove.svg' %}" alt="">
            <h1 class="title title--sm">Successfully canceled</h1>
            <p class="subtitle">You plan successfully canceled</p>
          </header>
        </div>
        <div class="modal-footer modal__footer p-0 border-0">
          <button type="button" class="btn modal__footer-btn" data-bs-dismiss="modal" data-dismiss="modal">Back to
            Billing
          </button>

        </div>
      </div>
    </div>
  </div>

  <!-- LOADER -->
  <div id="loader-container">
    <div class="loader-item spinner-border text-primary" role="status"></div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>

    const updatePaymentMethodModal = (show) => {
      $('#update-payment-method-modal').modal('show');
    }
  </script>
  <script>
    /********************
     UPDATE PAYMENT METHOD
     ********************/
    const baseStyle = {
      display: "block",
      backgroundColor: "#f6f6f8",
      color: '#222223FF',
      fontSize: '16px',
      border: "1px solid #f6f6f8",
      fontFamily: "Aeonik, Arial, sans-serif"
    }
    let stripe = Stripe("{{ stripe_api_key }}");
    let elements = stripe.elements();
    let cardNumberElement = elements.create('cardNumber', {
      placeholder: '**** **** **** {{ card.last4 }}',
      style: {
        base: baseStyle
      }
    });
    cardNumberElement.mount('#card-number-element');

    let cardExpiryElement = elements.create('cardExpiry', {
      placeholder: '{{ card.exp_month }} / {{ card.exp_year}}',
      style: {
        base: baseStyle
      }
    });
    cardExpiryElement.mount('#card-expiry-element');

    let cardCvcElement = elements.create('cardCvc', {
      placeholder: 'CVC',
      style: {
        base: baseStyle
      }
    });
    cardCvcElement.mount('#card-cvc-element');

    function setErrorText(text) {
      let displayError = document.getElementById('card-element-errors');
      displayError.textContent = text;
    }

    function displayError(event) {
      if (event.error) {
        setErrorText(event.error.message);
      } else {
        setErrorText("");
      }
    }

    function updatePaymentMethod({paymentMethodId}) {
      return (fetch('/update-payment-method', {
        method: 'post',
        headers: {
          'Content-type': 'application/json',
          'X-CSRFToken': "{{ csrf_token }}"
        },
        body: JSON.stringify(
          {paymentMethodId: paymentMethodId}
        )
      }).then(res => res.json()).then(res => {
        if (res.error) {
          console.log(res.error);
          setErrorText(res.error);
        } else if (res.success) {
          console.log(res);
          updatePaymentMethodModal(false);
        } else {
          console.log(res);
          setErrorText("Update error")
        }
      }).catch(err => {
        console.log('catch', err)
      }).finally(() => setLoading(false)));
    }

    function createPaymentMethod({card}) {

      stripe.createPaymentMethod({
        type: 'card',
        card: cardNumberElement,
        billing_details: {
          name: $('#cardName').val(),
          email: "{{ request.user.email }}"
        }
      }).then((result) => {
        if (result.error) {
          console.log(result)
          displayError(result);
          setLoading(false);
        } else {
          updatePaymentMethod({paymentMethodId: result.paymentMethod.id});
        }
      });
    }

    const form = document.getElementById('update-payment');
    form.addEventListener('submit', function (ev) {
      ev.preventDefault();
      updatePaymentMethodModal();
      {#setLoading(true);#}
      {#createPaymentMethod({cardNumberElement});#}
    });
  </script>

  <script>
    /**********************
     * DELETE PAYMENT METHOD
     **********************/
    const deletePaymentMethodConfirmation = (show) => {
      $('#delete-payment-method').modal(show ? 'show' : 'hide');
    }
    const deletePaymentMethod = () => {
      setLoading(true);
      fetch('/delete-payment-method', {
        method: 'delete',
        headers: {
          'Content-type': 'application/json',
          'X-CSRFToken': "{{ csrf_token }}"
        }
      }).then(res => res.json()).then(res => {
        if (res.error) {
          console.log(res);
        } else if (res.success) {
          console.log(res);
        }
        console.log(res);
      }).finally(() => {
        setLoading(false);
        deletePaymentMethodConfirmation(false);
      });
    }

    $('#delete-payment-method-button').click(() => {
      deletePaymentMethod();
    })
  </script>

  {#  <script>#}
  {#    /**********************#}
  {#     * CANCEL SUBSCRIPTION#}
  {#     **********************/#}
  {#    const cancelSubscriptionConfirmation = (show) => {#}
  {#      $('#cancel-subscription').modal(show ? 'show' : 'hide');#}
  {#    }#}
  {#    const cancelSubscription = () => {#}
  {#      setLoading(true);#}
  {#      fetch('/cancel-subscription', {#}
  {#        method: 'post',#}
  {#        headers: {#}
  {#          'Content-type': 'application/json',#}
  {#          'X-CSRFToken': "{{ csrf_token }}"#}
  {#        }#}
  {#      }).then(res => res.json()).then(res => {#}
  {#        if (res.error) {#}
  {#          console.log(res);#}
  {#        } else if (res.success) {#}
  {#          console.log(res);#}
  {#        }#}
  {#        console.log(res);#}
  {#      }).finally(() => {#}
  {#        setLoading(false);#}
  {#        cancelSubscriptionConfirmation(false);#}
  {#      });#}
  {#    }#}
  {##}
  {#    $('#cancel-subscription-button').click(() => {#}
  {#      cancelSubscription();#}
  {#    })#}
  {#  </script>#}
{% endblock %}
