{% extends 'base.html' %}

{% block content %}

  <section class="home__section home__section--title home__section--blog-page">
    <div class="home-title">
      <div class="home-title__wrapper main-wrapper">
        <div class="home-title__content">
          <h1 class="home-title__title page-h1">
            Space Beaver <br>
            <span class="text-pink">News</span>
          </h1>
          <div class="home-title__search search-input">
            <input type="search" class="home-title__input" placeholder="Find anything">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="home__section home__section--blog">
    <div class="blog">
      <div class="blog__wrapper main-wrapper">
        <p class="blog__subtitle page-subtitle text-center">Discover</p>
        <h2 class="blog__title page-h2 text-center">Recent News</h2>
        <div class="blog__content">
          <div class="blog__list">
            <div class="blog__item blog-item">
              <div class="blog-item__img-wrap">
                <img src="{% static 'core/img/jpg/blog-item-1.png' %}" alt="" class="blog-item__img">
              </div>
              <div class="blog-item__date"> Mar 17, 2020</div>
              <a href="/article" class="blog-item__text">Introduces Industry-Leading Progressive SOS</a>
            </div>
            <div class="blog__item blog-item">
              <div class="blog-item__img-wrap">
                <img src="{% static 'core/img/jpg/blog-item-2.png' %}" alt="" class="blog-item__img">
              </div>
              <div class="blog-item__date"> Mar 17, 2020</div>
              <a href="/article" class="blog-item__text">Named Product of the Year at the Third Annual Outdoor</a>
            </div>
            <div class="blog__item blog-item">
              <div class="blog-item__img-wrap">
                <img src="{% static 'core/img/jpg/blog-item-3.png' %}" alt="" class="blog-item__img">
              </div>
              <div class="blog-item__date"> Mar 17, 2020</div>
              <a href="/article" class="blog-item__text">Wins 2020 ABA100 Award for New Product Innovation</a>
            </div>
            <div class="blog__item blog-item">
              <div class="blog-item__img-wrap">
                <img src="{% static 'core/img/jpg/blog-item-4.png' %}" alt="" class="blog-item__img">
              </div>
              <div class="blog-item__date"> Mar 17, 2020</div>
              <a href="/article" class="blog-item__text">Garners Prestigious MSUA Innovation Award</a>
            </div>
            <div class="blog__item blog-item">
              <div class="blog-item__img-wrap">
                <img src="{% static 'core/img/jpg/blog-item-5.png' %}" alt="" class="blog-item__img">
              </div>
              <div class="blog-item__date"> Mar 17, 2020</div>
              <a href="/article" class="blog-item__text">Introduces Industry-Leading Progressive SOS</a>
            </div>
            <div class="blog__item blog-item">
              <div class="blog-item__img-wrap">
                <img src="{% static 'core/img/jpg/blog-item-6.png' %}" alt="" class="blog-item__img">
              </div>
              <div class="blog-item__date"> Mar 17, 2020</div>
              <a href="/article" class="blog-item__text">Named Product of the Year at the Third Annual Outdoor</a>
            </div>
          </div>
          <div class="blog__actions">
            <div class="blog__num-wrap">
              <a href="#" class="blog__num blog__num--active">1</a>
            </div>
            <div class="blog__num-wrap">
              <a href="#" class="blog__num">2</a>
            </div>
            <div class="blog__num-wrap">
              <a href="#" class="blog__num">3</a>
            </div>
            <div class="blog__num-wrap">
              <div href="#" class="blog__dots">...</div>
            </div>
            <div class="blog__num-wrap">
              <a href="#" class="blog__num">9</a>
            </div>
            <div class="blog__num-wrap">
              <a href="#" class="blog__num">10</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
