<header class="header">
  <div class="header__wrapper main-wrapper">
    <div class="header__content">
      <a href="#" class="header__logo header-logo">
        <img class="header-logo__img " src="{% static 'core/img/svg/logo-without-name.svg' %}" alt="">
        <span class="header-logo__text">SpaceBeaver</span>
      </a>

      <ul class="header__nav header-nav d-none d-lg-flex">
        <li class="header-nav__item"><a href="#" class="header-nav__link">Homepage</a></li>
        <li class="header-nav__item header-nav__item--dropdown">
          <a href="#" class="header-nav__link">Products</a>
          <i class="fa-solid fa-chevron-down"></i>
          <div class="header-nav__dropdown-wrap">
            <div class="header-nav__dropdown">
              <ul class="header-nav-dropdown__list">
                <li><a href="#">Sub-1</a></li>
                <li><a href="#">Sub-2</a></li>
                <li><a href="#">Sub-3</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="header-nav__item"><a href="#" class="header-nav__link">About us</a></li>
        <li class="header-nav__item"><a href="#" class="header-nav__link">Pricing</a></li>
        <li class="header-nav__item"><a href="#" class="header-nav__link">Mobile app</a></li>
        
   
      </ul>

      <div class="header__btns header-btns base-btn__group d-none d-lg-flex">
        <a href="#" class="header-btns__btn base-btn base-btn--s base-btn--transparent">Sign in</a>
        <a href="#" class="header-btns__btn base-btn base-btn--gray base-btn--s">Sign up</a>
      </div>

      <button class="navbar-toggler d-lg-none d-block" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  
        <img class="navbar-toggler__icon" src="{% static 'core/img/svg/burger.svg' %}" alt="">
      </button>
  

    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class=" text-uppercase nav-link nav-link text-dark" href="#">Homepage</a>
        </li>
        <li class="nav-item">
          <a class=" text-uppercase nav-link nav-link text-dark" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class=" text-uppercase nav-link text-dark" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class=" text-uppercase nav-link text-dark" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class=" text-uppercase nav-link text-dark" href="#">Mobile app</a>
        </li>
        <li class="nav-item">
          <a class=" text-uppercase nav-link text-dark" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class=" text-uppercase nav-link text-dark" href="#">sign up</a>
        </li>

      </ul>
    </div>
  </div>
</header>
