{% extends 'base.html' %}

{% block content %}

  <section class="home__section home__section--usp">
    <div class="home-usp">
      <div class="home-usp__wrapper main-wrapper">
        <div class="home-usp__content">
          <div class="home-usp__box home-usp__box--title">
            <h1 class="home-usp__title page-h1">
              Seamless Global Messaging
            </h1>
          </div>
          <div class="home-usp__box home-usp__box--text">
            <p class="home-usp__text page-text">
              Only Space Beaver connects with your phone or tablet to provide seamless global messaging
            </p>
            <div class="home-usp__btns base-btn__group">
              <a href="#" class="home-usp-btns__btn base-btn base-btn--black">Buy now</a>
              <a href="#" class="home-usp-btns__btn base-btn base-btn--transparent">Download our app</a>
            </div>
          </div>
        </div>
      </div>
      <div class="home-usp__img-wrap">
        <img class="home-usp__img" src="{% static 'core/img/jpg/product-usp-bg.jpg' %}" alt="USP image">
      </div>
    </div>
  </section>

  <section class="home__section home__section--image mb-5">
    <div class="home-image home-image--product">
      <div class="home-image__wrapper main-wrapper">
        <div class="product-image__box">
          <h6 class="product-image__subtitle page-subtitle text-center">Features</h6>
          <h2 class="product-image__title page-h2 text-center">Hello Space Beaver, Goodbye Coverage Gaps</h2>
        </div>
        <div class="home-image__content">
          <div class="home-image__box">
            <div class="home-image__img-wrap">

              <img src="{% static 'core/img/jpg/product-page-img-1.png' %}" alt="" class="home-image__img">
            </div>
          </div>
          <div class="home-image__box home-image__box--text">
            <div class="home-image__text-wrap">
            <h6 class="home-image__subtitle page-subtitle">Count on Space Beaver</h6>
            <h3 class="home-image__title page-h3">
              Affordable accessory
            </h3>
            <p class="home-image__text page-text">Meet Space Beaver the affordable accessory that extends your smartphone messaging coverage to everywhere on Earth and provides a safety system you can count on.</p>
            <ul class="home-benefits-content__list base-check__list">
              <li class="home-benefits-content___item page-text base-check__item">Message anywhere over satellite, cellular and Wi-Fi</li>
              <li class="home-benefits-content___item page-text base-check__item">Check-in to let others know you’re OK</li>
              <li class="home-benefits-content___item page-text base-check__item">Share your GPS location</li>
            </ul>
            <div class="home-image__btns base-btn__group">
              <a href="#" class="home-image__btn base-btn base-btn--black">Buy now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="home__section home__section--product-works">
    <div class="product-works">
      <div class="product-works__wrapper main-wrapper">
        <h6 class="product-works__subtitle page-subtitle text-center">You’ll never miss a message again</h6>
        <h2 class="product-works__title page-h2 text-center">How it works</h2>
        <div class="product-works__list">
          <div class="product-works__item product-works-item">
            <div class="product-works-item__ico-wrap">
              <img src="{% static 'core/img/svg/product-works-1.svg' %}" alt="" class="product-works-item__ico">
            </div>
            <h4 class="product-works-item__title page-h4">Connection</h4>
            <p class="product-works-item__text page-text">Your Space Beaver device connects with our free app on your phone so you can send/receive messages anywhere on the planet via the Iridium satellite network.</p>
          </div>

          <div class="product-works__item product-works-item product-works-item--arrows">
            <div class="product-works-item__ico-wrap">
              <img src="{% static 'core/img/svg/product-works-2.svg' %}" alt="" class="product-works-item__ico">
            </div>
            <h4 class="product-works-item__title page-h4">2. Enjoy using </h4>
            <p class="product-works-item__text page-text">Our app seamlessly delivers messages over cellular and Wi-Fi. You'll always get the message, even if your satellite communicator device is turned off!</p>
          </div>

          <div class="product-works__item product-works-item">
            <div class="product-works-item__ico-wrap">
              <img src="{% static 'core/img/svg/product-works-3.svg' %}" alt="" class="product-works-item__ico">
            </div>
            <h4 class="product-works-item__title page-h4">3. Manage numbers</h4>
            <p class="product-works-item__text page-text">Manage your numbers, block and add new numbers to the list. Only our provides seamless global messaging you can always count on your connection.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="home__section home__section--image mb-5">
    <div class="home-image home-image--product home-image--product-2">
      <div class="home-image__wrapper main-wrapper">
        <div class="home-image__content">
          <div class="home-image__box home-image__box--text">
            <div class="home-image__text-wrap">
            <h6 class="home-image__subtitle page-subtitle">Count on Space Beaver</h6>
            <h3 class="home-image__title page-h3">
              Affordable accessory
            </h3>
            <p class="home-image__text page-text">Meet Space Beaver the affordable accessory that extends your smartphone messaging coverage to everywhere on Earth and provides a safety system you can count on.</p>
            <ul class="home-benefits-content__list base-check__list">
              <li class="home-benefits-content___item page-text base-check__item">Message anywhere over satellite, cellular and Wi-Fi</li>
              <li class="home-benefits-content___item page-text base-check__item">Check-in to let others know you’re OK</li>
              <li class="home-benefits-content___item page-text base-check__item">Share your GPS location</li>
            </ul>
            <div class="home-image__btns base-btn__group">
              <a href="#" class="home-image__btn base-btn base-btn--black">Buy now</a>
            </div>
          </div>
        </div>
        <div class="home-image__box">
          <div class="home-image__img-wrap">

            <img src="{% static 'core/img/jpg/product-page-img-2.png' %}" alt="" class="home-image__img">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="home__section home__section--reviews mb-0">
    <div class="home-reviews">
      <div class="home-reviews__wrapper main-wrapper">
        <h6 class="home-reviews__subtitle page-subtitle text-center">Reviews</h6>
        <h2 class="home-reviews__title page-h2 text-center">What our customers say</h2>
        <div class="home-reviews__list-wrap">
          <div class="home-reviews__arrows">
            <div class="home-reviews__arrow home-reviews__arrow-prev">
              <i class="fa-solid fa-angle-left"></i>

            </div>
            <div class="home-reviews__arrow home-reviews__arrow-next">
              <i class="fa-solid fa-angle-right"></i>

            </div>
          </div>
          <div class="home-reviews__list home-reviews__slider">
            <div class="home-reviews__item home-review">
              <div class="home-review__ico-wrap">
                <img src="{% static 'core/img/svg/quote.svg' %}" alt="" class="home-review__ico">
              </div>
              <h4 class="home-review__title page-h4">Excellent!</h4>
              <p class="home-review__text page-text">Space Beaver is an indispensible part of my hiking gear. My spouse can finally stop stressing every time I trek out</p>
              <div class="home-review__profile home-review-profile">
                <div class="home-review-profile__img-wrap">
                  <img src="{% static 'core/img/jpg/home-review-1.png' %}" alt="" class="home-review-profile__img">
                </div>
                <div class="home-review-profile__desc">
                  <p class="home-review-profile__name home-text">Carter</p>
                  <p class="home-review-profile__job home-text">Space Beaver enthusiast</p>
                </div>
              </div>
            </div>

            <div class="home-reviews__item home-review">
              <div class="home-review__ico-wrap">
                <img src="{% static 'core/img/svg/quote.svg' %}" alt="" class="home-review__ico">
              </div>
              <h4 class="home-review__title page-h4">Excellent!</h4>
              <p class="home-review__text page-text">Space Beaver is an indispensible part of my hiking gear. My spouse can finally stop stressing every time I trek out</p>
              <div class="home-review__profile home-review-profile">
                <div class="home-review-profile__img-wrap">
                  <img src="{% static 'core/img/jpg/home-review-2.png' %}" alt="" class="home-review-profile__img">
                </div>
                <div class="home-review-profile__desc">
                  <p class="home-review-profile__name home-text">Carter</p>
                  <p class="home-review-profile__job home-text">Space Beaver enthusiast</p>
                </div>
              </div>
            </div>

            <div class="home-reviews__item home-review">
              <div class="home-review__ico-wrap">
                <img src="{% static 'core/img/svg/quote.svg' %}" alt="" class="home-review__ico">
              </div>
              <h4 class="home-review__title page-h4">Excellent!</h4>
              <p class="home-review__text page-text">Space Beaver is an indispensible part of my hiking gear. My spouse can finally stop stressing every time I trek out</p>
              <div class="home-review__profile home-review-profile">
                <div class="home-review-profile__img-wrap">
                  <img src="{% static 'core/img/jpg/home-review-3.png' %}" alt="" class="home-review-profile__img">
                </div>
                <div class="home-review-profile__desc">
                  <p class="home-review-profile__name home-text">Carter</p>
                  <p class="home-review-profile__job home-text">Space Beaver enthusiast</p>
                </div>
              </div>
            </div>

            <div class="home-reviews__item home-review">
              <div class="home-review__ico-wrap">
                <img src="{% static 'core/img/svg/quote.svg' %}" alt="" class="home-review__ico">
              </div>
              <h4 class="home-review__title page-h4">Excellent!</h4>
              <p class="home-review__text page-text">Space Beaver is an indispensible part of my hiking gear. My spouse can finally stop stressing every time I trek out</p>
              <div class="home-review__profile home-review-profile">
                <div class="home-review-profile__img-wrap">
                  <img src="{% static 'core/img/jpg/home-review-1.png' %}" alt="" class="home-review-profile__img">
                </div>
                <div class="home-review-profile__desc">
                  <p class="home-review-profile__name home-text">Carter</p>
                  <p class="home-review-profile__job home-text">Space Beaver enthusiast</p>
                </div>
              </div>
            </div>

            <div class="home-reviews__item home-review">
              <div class="home-review__ico-wrap">
                <img src="{% static 'core/img/svg/quote.svg' %}" alt="" class="home-review__ico">
              </div>
              <h4 class="home-review__title page-h4">Excellent!</h4>
              <p class="home-review__text page-text">Space Beaver is an indispensible part of my hiking gear. My spouse can finally stop stressing every time I trek out</p>
              <div class="home-review__profile home-review-profile">
                <div class="home-review-profile__img-wrap">
                  <img src="{% static 'core/img/jpg/home-review-2.png' %}" alt="" class="home-review-profile__img">
                </div>
                <div class="home-review-profile__desc">
                  <p class="home-review-profile__name home-text">Carter</p>
                  <p class="home-review-profile__job home-text">Space Beaver enthusiast</p>
                </div>
              </div>
            </div>

            <div class="home-reviews__item home-review">
              <div class="home-review__ico-wrap">
                <img src="{% static 'core/img/svg/quote.svg' %}" alt="" class="home-review__ico">
              </div>
              <h4 class="home-review__title page-h4">Excellent!</h4>
              <p class="home-review__text page-text">Space Beaver is an indispensible part of my hiking gear. My spouse can finally stop stressing every time I trek out</p>
              <div class="home-review__profile home-review-profile">
                <div class="home-review-profile__img-wrap">
                  <img src="{% static 'core/img/jpg/home-review-3.png' %}" alt="" class="home-review-profile__img">
                </div>
                <div class="home-review-profile__desc">
                  <p class="home-review-profile__name home-text">Carter</p>
                  <p class="home-review-profile__job home-text">Space Beaver enthusiast</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        
      </div>
    </div>
  </section>
{% endblock %}