{% extends 'base.html' %}

{% block content %}

  <section class="home__section home__section--usp">
    <div class="home-usp">
      <div class="home-usp__wrapper main-wrapper">
        <div class="home-usp__content">
          <div class="home-usp__box home-usp__box--title">
            <h1 class="home-usp__title page-h1">
              Monthly Space Beaver Plans
            </h1>
          </div>
          <div class="home-usp__box home-usp__box--text">
            <p class="home-usp__text page-text">
              Enjoy More Bundled Messages Only With Space Beaver
            </p>
            <div class="home-usp__btns base-btn__group">
              <a href="#" class="home-usp-btns__btn base-btn base-btn--black">Choose Your Plan</a>
              <a href="#" class="home-usp-btns__btn base-btn base-btn--transparent">Download our app</a>
            </div>
          </div>
        </div>
      </div>
      <div class="home-usp__img-wrap">
        <img class="home-usp__img" src="{% static 'core/img/jpg/pricing-usp-img.png' %}" alt="USP image">
      </div>
    </div>
  </section>

  <section class="home__section home__section--pricing">
    <div class="home-pricing">
      <div class="home-pricing__wrapper main-wrapper">
        <div class="home-pricing__content">
          <div class="home-pricing__box">
            <div class="home-pricing__list-wrap">
              <div class="home-pricing__toggle home-pricing-toggle">
                <input class="home-pricing-toggle__input" type="radio" id="pricing-toggle__first" name="pricing-toggle" checked/>
                <label class="home-pricing-toggle__label" for="pricing-toggle__first">Monthly</label>
                <input class="home-pricing-toggle__input" type="radio" id="pricing-toggle__second" name="pricing-toggle"/>
                <label class="home-pricing-toggle__label" for="pricing-toggle__second">Yearly</label>
              </div>
              <ul class="home-pricing__list">
                <li class="home-pricing__item">Monthly Fee</li>
                <li class="home-pricing__item">Additional Messages</li>
                <li class="home-pricing__item">Cellular & Wi-Fi Messages</li>
                <li class="home-pricing__item">Satellite SOS Alerts</li>
                <li class="home-pricing__item">24/7 SOS Monitoring Service</li>
              </ul>
            </div>
          </div>
          <div class="home-pricing__box">
            <div class="home-pricing__select-wrap">
              <label class="home-pricing-select">
                <input class="home-pricing-select__input" type="radio" name="select-plan" checked>
                <div class="home-pricing-select__content">
                  <div class="home-pricing-select__ico"></div>
                  <div class="home-pricing-select__box">
                    <span class="home-pricing-select__name">Basic</span>
                    <span class="home-pricing-select__discount">Save 20%</span>
                  </div>
                  <div class="home-pricing-select__price">
                    <span class="home-pricing-select__num">$20</span>
                    <span class="home-pricing-select__month">/month</span>
                  </div>
                </div>
              </label>
              <label class="home-pricing-select">
                <input class="home-pricing-select__input" type="radio" name="select-plan">
                <div class="home-pricing-select__content">
                  <div class="home-pricing-select__ico"></div>
                  <div class="home-pricing-select__box">
                    <span class="home-pricing-select__name">In Touch</span>
                    <span class="home-pricing-select__discount">Save 20%</span>
                  </div>
                  <div class="home-pricing-select__price">
                    <span class="home-pricing-select__num">$35</span>
                    <span class="home-pricing-select__month">/month</span>
                  </div>
                </div>
              </label>
              <label class="home-pricing-select">
                <input class="home-pricing-select__input" type="radio" name="select-plan">
                <div class="home-pricing-select__content">
                  <div class="home-pricing-select__ico"></div>
                  <div class="home-pricing-select__box">
                    <span class="home-pricing-select__name">Unlimited</span>
                    <span class="home-pricing-select__discount">Save 20%</span>
                  </div>
                  <div class="home-pricing-select__price">
                    <span class="home-pricing-select__num">$50</span>
                    <span class="home-pricing-select__month">/month</span>
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
