{% extends 'base.html' %}

{% block content %}


  <section class="home__section home__section--usp">
    <div class="home-usp">
      <div class="home-usp__wrapper main-wrapper">
        <div class="home-usp__content">
          <div class="home-usp__box home-usp__box--title">
            <h1 class="home-usp__title page-h1">
              App for Phones and Tablets
            </h1>
          </div>
          <div class="home-usp__box home-usp__box--text">
            <p class="home-usp__text page-text">
              Messaging, SOS, Check-in, Weather Forecasts, GPS Location and More
            </p>
            <div class="home-usp__btns base-btn__group home-usp__btns--mobile">
              <a href="#" class="home-usp-btns__btn">
                <img src="{% static 'core/img/svg/download-ios.svg' %}" alt="Download ios">
              </a>
              <a href="#" class="home-usp-btns__btn">
                <img src="{% static 'core/img/svg/download-android.svg' %}" alt="Download android">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="home-usp__img-wrap">
        <img class="home-usp__img" src="{% static 'core/img/jpg/mobile-usp.jpg' %}" alt="USP image">
      </div>
    </div>
  </section>

  <section class="home__section home__section--features">
    <div class="home-features">
      <div class="home-features__wrapper main-wrapper">
        <h6 class="home-features__subtitle page-subtitle text-center">Features</h6>
        <h2 class="home-features__title page-h2 text-center">What Can Space Beaver do?</h2>
        <div class="home-features__list">
          <div class="home-features__item home-features-item">
            <div class="home-features-item__ico-wrap">
              <img src="{% static 'core/img/svg/mobile-features-1.svg' %}" alt="" class="home-features-item__ico">
            </div>
            <h4 class="home-features-item__title page-h4">Message anywhere</h4>
            <p class="home-features-item__text page-text">To receive real-time progress updates and exchange messages</p>
          </div>

          <div class="home-features__item home-features-item">
            <div class="home-features-item__ico-wrap">
              <img src="{% static 'core/img/svg/mobile-features-2.svg' %}" alt="" class="home-features-item__ico">
            </div>
            <h4 class="home-features-item__title page-h4">Manage your contacts</h4>
            <p class="home-features-item__text page-text">If something goes wrong, SOS alerting ensures you can get help.</p>
          </div>

          <div class="home-features__item home-features-item">
            <div class="home-features-item__ico-wrap">
              <img src="{% static 'core/img/svg/mobile-features-3.svg' %}" alt="" class="home-features-item__ico">
            </div>
            <h4 class="home-features-item__title page-h4">Send SOS notifications</h4>
            <p class="home-features-item__text page-text">Easily check in with one button press to let others know you’re OK.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="home__section home__section--coverage">
    <div class="home-coverage home-coverage--mobile">
      <div class="home-coverage__wrapper main-wrapper">
        <div class="home-coverage__content">
          <div class="home-coverage__box">
            <h6 class="home-coverage__subtitle page-subtitle">Count on Space Beaver</h6>
            <h3 class="home-coverage__title page-h3">Hello Space Beaver, Goodbye Coverage Gaps</h3>
            <p class="home-coverage__text page-text">
              Meet the affordable accessory that extends your smartphone messaging coverage to everywhere on Earth.
            </p>
          </div>
          <div class="home-coverage__img-wrap">
            <img src="{% static 'core/img/jpg/mobile-coverage-img.png' %}" alt="" class="home-coverage__img">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="home__section home__section--image mb-4">
    <div class="home-image">
      <div class="home-image__wrapper main-wrapper">
        <div class="home-image__content">
          <div class="home-image__box">
            <img src="{% static 'core/img/jpg/mobile-home-img-1.png' %}" alt="" class="home-image__img">
          </div>
          <div class="home-image__box home-image__box--text">
            <div class="home-image__text-wrap">
            <h6 class="home-image__subtitle page-subtitle">Count on Space Beaver</h6>
            <h3 class="home-image__title page-h3">
              Hello Space Beaver, Goodbye Coverage Gaps
            </h3>
            <p class="home-image__text page-text">Meet the affordable accessory that extends your smartphone messaging coverage to everywhere on Earth.</p>
            <div class="home-image__btns base-btn__group">
              <a href="#" class="home-image__btn base-btn base-btn--black">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="home__section home__section--coverage">
    <div class="home-coverage home-coverage--mobile-green">
      <div class="home-coverage__wrapper main-wrapper">
        <div class="home-coverage__content">
          <div class="home-coverage__box">
            <h6 class="home-coverage__subtitle page-subtitle">Count on Space Beaver</h6>
            <h3 class="home-coverage__title page-h3">For Anyone Who Ventures Beyond Cell Coverage</h3>
            <p class="home-coverage__text page-text">
              Meet the affordable accessory that extends your smartphone messaging coverage to everywhere on Earth.
            </p>
          </div>
          <div class="home-coverage__img-wrap">
            <img src="{% static 'core/img/jpg/mobile-2-coverage-img.png' %}" alt="" class="home-coverage__img">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="home__section home__section--image mb-4">
    <div class="home-image">
      <div class="home-image__wrapper main-wrapper">
        <div class="home-image__content">
          <div class="home-image__box">
            <img src="{% static 'core/img/jpg/mobile-home-img-2.png' %}" alt="" class="home-image__img">
          </div>
          <div class="home-image__box home-image__box--text">
            <div class="home-image__text-wrap">
            <h6 class="home-image__subtitle page-subtitle">Count on Space Beaver</h6>
            <h3 class="home-image__title page-h3">
              When you're within cell coverage
            </h3>
            <p class="home-image__text page-text">Meet the affordable accessory that extends your smartphone messaging coverage to everywhere on Earth.</p>
            <div class="home-image__btns base-btn__group">
              <a href="#" class="home-image__btn base-btn base-btn--black">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="mobile-page__section mobile__section--reviews">
    <div class="mobile-page-reviews">
      <div class="mobile-page-reviews__wrapper main-wrapper">
        <div class="mobile-page-reviews__content">
          <div class="mobile-page-reviews__slider">
            <div class="mobile-page-reviews__item-wrap">
              <div class="mobile-page-reviews__item">
                <div class="mobile-page-reviews__img-wrap">
                  <img src="{% static 'core/img/jpg/mobile-page-review-1.png' %}" alt="" class="mobile-page-reviews__img">
                </div>
                <h4 class="mobile-page-reviews__title text-center">Space Beaver is an indispensible part of my hiking gear. My spouse can finally stop stressing every time I trek out</h4>
                <p class="mobile-page-reviews__name page-text text-center">Carter</p>
                <p class="mobile-page-reviews__text page-text text-center">Space Beaver enthusiast</p>
              </div>
            </div>

            <div class="mobile-page-reviews__item-wrap">
              <div class="mobile-page-reviews__item">
                <div class="mobile-page-reviews__img-wrap">
                  <img src="{% static 'core/img/jpg/mobile-page-review-1.png' %}" alt="" class="mobile-page-reviews__img">
                </div>
                <h4 class="mobile-page-reviews__title text-center">Space Beaver is an indispensible part of my hiking gear. My spouse can finally stop stressing every time I trek out</h4>
                <p class="mobile-page-reviews__name page-text text-center">Carter</p>
                <p class="mobile-page-reviews__text page-text text-center">Space Beaver enthusiast</p>
              </div>
            </div>

            <div class="mobile-page-reviews__item-wrap">
              <div class="mobile-page-reviews__item">
                <div class="mobile-page-reviews__img-wrap">
                  <img src="{% static 'core/img/jpg/mobile-page-review-1.png' %}" alt="" class="mobile-page-reviews__img">
                </div>
                <h4 class="mobile-page-reviews__title text-center">Space Beaver is an indispensible part of my hiking gear. My spouse can finally stop stressing every time I trek out</h4>
                <p class="mobile-page-reviews__name page-text text-center">Carter</p>
                <p class="mobile-page-reviews__text page-text text-center">Space Beaver enthusiast</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}