{% extends 'spacebeaver.html' %}


{% block title %} Login {% endblock %}
{% block navname %} Login {% endblock %}

{% block content %}
  <script>
    function showHide(inputId, targetFA) {
      var x = document.getElementById(inputId);
      var iconBtn = document.getElementById(targetFA);
      if (x.type === "password") {
        x.type = "text";
        iconBtn.classList.remove('fa-eye-slash');
        iconBtn.classList.add('fa-eye');


      } else {
        x.type = "password";
        iconBtn.classList.remove('fa-eye');
        iconBtn.classList.add('fa-eye-slash');
      }
    }
  </script>
  <div class="col-12 col-lg-6 d-flex align-items-center">

    <div class="form-container form-container--centered centered">
      {% if password_changed_notification == True %}
        <header>
          <h2> Password changed successfully</h2>
        </header>
        <footer class="form-footer text-center">
          <a href="{% url 'accounts:login' %}" class="form-submit btn btn--wide">Go to login</a>
        </footer>
      {% else %}
        {% if expired_link != True %}
          <header class="form-header text-center">
            <h1 class="title title--sm text-start">Change password</h1>
            <p class="subtitle  text-start">Enter and confirm your new password.</p>
          </header>
          <form class="form-body  form" action="/accounts/change-password" method="post">
            {% csrf_token %}

            <input type="hidden" name="change_token" value="{{ change_token }}"/>

            {% for field in form %}
              <div class="form-group field">

                <label for="{{ field.id_for_label }}"
                       class="field__label {% if field.field.required %} field__label--required {% endif %}">{{ field.label_tag }}</label>
                {% if field.field.widget.input_type == 'select' %}

                  {{ field }}
                {% else %}
                  <input type="{{ field.field.widget.input_type }}"
                         {% if field.value %}value="{{ field.value }}"{% endif %}
                         class="field__input {% if field.errors %} field__input--invalid {% endif %}"
                         id="{{ field.id_for_label }}" name="{{ field.name }}"
                         aria-describedby="emailHelp" required="{{ field.field.required }}"
                         placeholder="{{ field.field.widget.attrs.placeholder }}"
                    {% if field.field.disabled %} disabled {% endif %}
                    {% if field.field.widget.attrs.readonly %} readonly {% endif %}

                  >
                {% endif %}
                {% if field.id_for_label != 'id_username' %}
                  <button type="button" onclick="showHide('{{ field.id_for_label }}', '{{ field.id_for_label }}_sh');"
                          class="field__change-btn border-0 text-primary bg-transparent" data-toggle="modal"

                  ><i id="{{ field.id_for_label }}_sh" class="fa fa-eye-slash text-muted" aria-hidden="true"></i>
                  </button>
                {% else %}
                {% endif %}
                {% if field.errors %}
                  <span class="field__input-error">
          {{ field.errors }}
        </span>
                {% endif %}
                <small id="emailHelp" class="form-text text-muted">{{ field.help_text }}</small>
              </div>
            {% endfor %}
            <button type="submit" class="btn modal__footer-btn">
              Change password
            </button>
          </form>
        {% else %}
          <header>
            <h2>This link is expired</h2>
          </header>
          <footer class="form-footer text-center">
            <a href="{% url 'accounts:login' %}" class="form-submit btn btn--wide">Login</a>
          </footer>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
