{% extends 'registration.html' %}


{% block content %}

  <style>
    .selected-plan {
      box-shadow: 0px 0px 10px  violet;
    }
  </style>
  <script>

    $(document).ready(function () {
      {% if user.selected_plan != 0 %}
        $('#plan-card').addClass('selected-plan')
      {% endif %}

      $('#non-select-plan-alert').hide();
      $('#next-btn').click(function () {
        {% if user.selected_plan == 0 %}
          $('#non-select-plan-alert').show();
          return false;
        {% else %}
          return true;
        {% endif %}
      })
    })


  </script>

  <div id="non-select-plan-alert" class="alert alert-danger" role="alert">
    No plan selected, please select a plan
  </div>


  <form class="form-body form-body__flex-layout form" action="" method="post">
    {% csrf_token %}
    <div id="plan-card" class="plan-card mb-2 ">
      <div class="plan-card__header d-flex align-items-center">
        <div class="plan-card__img-wrap gap-right">
          <!-- <img class="plan-card__img" src="./img/svg/icon-mirroring-screen.svg" alt=""> -->
          <img class="plan-card__img" src="{{ image }}" alt="">
        </div>
        <h2 class="plan-card__title">{{ plan_title }}</h2>
      </div>
      <div class="plan-card__pricing d-flex align-items-baseline">
        <span class="plan-card__price">{{ price }}$</span><span class="plan-card__period">/month</span>
      </div>

      {{ description }}

      {#            <a href="{% url 'core:subscription' %}" class="plan-card__btn mt-3">Select plan</a>#}
      {#      <a class="plan-card__btn mt-3">Select plan</a>#}
      <button type="submit" class="plan-card__btn mt-3">Select plan</button>

    </div>
    <footer class="form-body__footer col d-lg-flex">

      <button id="next-btn" class="btn form-body__footer-btn order-md-2">Next
      </button>

      <a type="button" href="{{ back_url }}"
         class="btn-outline form-body__footer-btn gap-right mt-2 mt-md-0  order-md-1 text-decoration-none">Back</a>

    </footer>
  </form>
{% endblock %}

