{% extends 'registration.html' %}

{% block content %}

  <form class="form-body form-body__flex-layout form" action="" method="post">
    <div class="plan-card mb-2">
      <div class="plan-card__header d-flex align-items-center">
        <div class="plan-card__img-wrap gap-right">
          <!-- <img class="plan-card__img" src="./img/svg/icon-mirroring-screen.svg" alt=""> -->
          <img class="plan-card__img" src="{{ image }}" alt="">
        </div>
        <h2 class="plan-card__title">{{ plan_title }}</h2>
      </div>
      <div class="plan-card__pricing d-flex align-items-baseline">
        <span class="plan-card__price">{{ price }}$</span><span class="plan-card__period">/month</span>
      </div>

      <ul class="plan-card__options p-0">
        <li class="plan-card__options-item">Ipser lorem non veniter um</li>
        <li class="plan-card__options-item">Ipser lorem non veniter um</li>
        <li class="plan-card__options-item">Ipser lorem non veniter um</li>
        <li class="plan-card__options-item">Ipser lorem non veniter um</li>
      </ul>

      <a href="{% url 'core:subscription' %}" class="plan-card__btn">Select plan</a>

    </div>
    <footer class="form-body__footer col d-lg-flex">

      <button type="submit" class="btn form-body__footer-btn order-md-2" data-bs-toggle="modal"
              data-bs-target="#successfullyPaid">Next</button>

      <a type="button" href="{{ back_url }}"
         class="btn-outline form-body__footer-btn gap-right mt-2 mt-md-0  order-md-1 text-decoration-none">Back</a>

    </footer>
  </form>
{% endblock %}
