{% extends 'dashboard-layout.html' %}

{% block content %}

  <style>
    .selected-plan {
      box-shadow: 0px 0px 10px violet;
    }
  </style>
  <script>

    function reloadPage(){
      window.location.href = '{% url 'core:billing' %}';
    }

    $(document).ready(function () {

      {% if show_select_notification %}
        $('#successSelectPlan').modal('show');
      {% endif %}

      {% if show_cancel_plan_notification %}
        $('#cancelPlan').modal('show');
      {% endif %}


      {% if user.selected_plan != 0 %}
        $('#plan-card').addClass('selected-plan');
        $('#no-have-subscription').hide();
      {% endif %}

      $('#non-select-plan-alert').hide();
      $('#next-btn').click(function () {
        {% if user.selected_plan == 0 %}
          $('#non-select-plan-alert').show();
          return false;
        {% else %}
          return true;
        {% endif %}
      })
    })


  </script>

  <form class="form-body form-body__flex-layout form" action="" method="post">
    {% csrf_token %}
    <div id="plan-card" class="plan-card mb-2 ">
      <input type="hidden" name="selected_plan" {% if user.selected_plan == 1 %} value="-1" {% else %}
             value="1" {% endif %} />
      <div class="plan-card__header d-flex align-items-center">
        <div class="plan-card__img-wrap gap-right">
          <!-- <img class="plan-card__img" src="./img/svg/icon-mirroring-screen.svg" alt=""> -->
          <img class="plan-card__img" src="{{ image }}" alt="">
        </div>
        <h2 class="plan-card__title">{{ plan_title }}</h2>
      </div>
      <div class="plan-card__pricing d-flex align-items-baseline">
        <span class="plan-card__price">{{ price }}$</span><span class="plan-card__period">/month</span>
      </div>

      {{ description }}

      {#            <a href="{% url 'core:subscription' %}" class="plan-card__btn mt-3">Select plan</a>#}
      {#      <a class="plan-card__btn mt-3">Select plan</a>#}
      <button type="submit" class="plan-card__btn mt-3">{% if user.selected_plan == 1 %}Cancel plan {% else %} Select
        plan  {% endif %}</button>

    </div>
    <footer class="form-body__footer col d-lg-flex">

    </footer>
  </form>

  <div class="modal fade" id="successSelectPlan" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal__content">
        <div class="modal-body p-0">
          <header class="form-header text-center">
            <img class="form-header-icon" src="{% static 'core/img/svg/icon-aprove.svg' %}" alt="">
            <h1 class="title title--sm">Plan selected successfully</h1>

          </header>
        </div>
        <div class="modal-footer modal__footer p-0 border-0">
          <button type="button" class="btn modal__footer-btn" onclick="reloadPage()">OK</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="cancelPlan" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal__content">
        <div class="modal-body p-0">
          <header class="form-header text-center">
            <h1 class="title title--sm">Plan canceled successfully</h1>

          </header>
        </div>
        <div class="modal-footer modal__footer p-0 border-0">
          <button type="button" class="btn modal__footer-btn" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
